<div class="CreateRegion" ng-form name="myForm">
 <table>
        <tr>
           <td>City:</td>
           <td><input ng-model="region.City" name="city" required></td>
           <td><span style="color:red" ng-show="myForm.city.$dirty && myForm.city.$invalid"></td>
           <td> <span ng-show="myForm.city.$error.required"> required.</span></td>  
        </tr>
 
        <tr>
            <td>RegionalCenter:</td>
            <td><input ng-model="region.RegionalCenter" name="regionalCenter" required></td>
            <td><span style="color:red" ng-show="myForm.regionalCenter.$dirty && myForm.regionalCenter.$invalid"> </td>
            <td> <span ng-show="myForm.regionalCenter.$error.required"> required.</span> </td>           
        </tr>
        <tr>
           <td>Population:</td>
           <td><input ng-model="region.Population" name="population" required></td>
           <td><span style="color:red" ng-show="myForm.population.$dirty && myForm.population.$invalid"></td> 
           <td>  <span ng-show="myForm.population.$error.required"> required.</span></td>                      
        </tr>
        <tr>
           <td>Production:</td>
           <td><input ng-model="region.Production" name="production" required></td>
           <td><span style="color:red" ng-show="myForm.production.$dirty && myForm.production.$invalid"></td>
           <td><span ng-show="myForm.production.$error.required"> required.</span></td>                     
        </tr>

        <tr>
            <td><input type="submit" data-ng-click="SaveNewRegion()" name="Save"  value="Save"
          ng-disabled="!myForm.$valid" /></td>

        </tr>
    </table>   
</div>