
<!DOCTYPE html>
<html data-ng-app="RegionsApp">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
     <script src="../../Scripts/angular.js" type="text/javascript"></script>
    <script src="../../Scripts/angular-route.js" type="text/javascript"></script>
    <script src="../../Scripts/angular-resource.js" type="text/javascript"></script>
    <script src="../../Scripts/jasmine.js" type="text/javascript"></script>
    <script src="../../Scripts/jasmine-html.js" type="text/javascript"></script>
    <script src="../../Scripts/angular-mocks.js" type="text/javascript"></script>

    <script src="../../RegionScripts/Controllers.js" type="text/javascript"></script>
    <script src="../../RegionScripts/HomeResource.js" type="text/javascript"></script>
    <script src="../../RegionScripts/factoryRest.js" type="text/javascript"></script>
    <script src="../../RegionScripts/RegionRoutes.js" type="text/javascript"></script>
    <script src="../../RegionScriptsTest/RegionsAngularTest.js" type="text/javascript"></script>

    
    <link href="../../css/HomePageItemsLocation.css" rel="stylesheet" type="text/css" />
    <link href="../../css/TableDecoration.css" rel="stylesheet" type="text/css" />

@*TODO:Uncoment this lines to see jasmineUnitTestRunningExample*@
@*<script src="../../Scripts/JasmineBase.js" type="text/javascript"></script>*@
@*<link href="../../css/jasmine.css" rel="stylesheet" type="text/css" />*@

</head>
<body>    
    <header>Ukraine Regions App</header>
        <section ng-view></section>
    <footer>&copy UkraineRegions @DateTime.Now.Year</footer>
</body>
</html>