<script src="../../Scripts/angular.js" type="text/javascript"></script>
<script src="../../Scripts/angular-route.js" type="text/javascript"></script>
<script src="../../Scripts/angular-resource.js" type="text/javascript"></script>
<script src="../../Scripts/jasmine.js" type="text/javascript"></script>
<script src="../../Scripts/jasmine-html.js" type="text/javascript"></script>
<script src="../../Scripts/angular-mocks.js" type="text/javascript"></script>

<script src="../../RegionScripts/Controllers.js" type="text/javascript"></script>
<script src="../../RegionScripts/HomeResource.js" type="text/javascript"></script>
<script src="../../RegionScripts/factoryRest.js" type="text/javascript"></script>
<script src="../../RegionScripts/RegionRoutes.js" type="text/javascript"></script>
<script src="../../RegionScriptsTest/RegionsAngularTest.js" type="text/javascript"></script>

<link href="../../css/TableListStyle.css" rel="stylesheet" type="text/css" />


@*TODO:Uncoment this lines to see jasmineUnitTestRunningExample*@
@*<script src="../../Scripts/JasmineBase.js" type="text/javascript"></script>*@
@*<link href="../../css/jasmine.css" rel="stylesheet" type="text/css" />*@
<html ng-app="RegionsApp">
<body>
<span class="MainTitle">Ukraine Region App</span>
<div ng-view></div>
</body>
</html>
